<!DOCTYPE html>
<html lang="en">
<%- include("./header.ejs") %>
<body>
    <a href="/students">&lt;- Retour </a>
    <h1><%= student.prenom %> <%= student.nom %></h1>
    <p>Nom : <%= student.nom %></p>
    <p>Prenom : <%= student.prenom %></p>
</body>
</html>
